include ../helpers/head

block content
  div#navbar.row
    div.text-center
      div#logo-box
        a(href="/")#logo USI Social Wall
      div#navbar-menu
        span.float-right Welcome to the USI Social Wall App!
  div#main
    div#sidebar
      ul#menu.vertical.menu(data-accordion-menu='')
        li#settings.box
          a
            i.fi-wrench
            p Settings
          li#api.box
            a
              i.fi-database
              p Api
            ul.menu.vertical.nested
              li#twitter.box
                a
                  i.fi-social-twitter
                  p Twitter
              li#youtube.box
                a
                  i.fi-social-youtube
                  p YouTube
              li#facebook.box
                a
                  i.fi-social-facebook
                  p Facebook
          li#graphs.box
            a
              i.fi-graph-bar
              p Graphs
    div#content

    
include ../base/footer
