include ../base/header
  
  block content

    div.fluid-container
      div#navbar.row
        div#box-logo.col-xs-4
          a(href="/")
            span#logo USI Social Wall
        div#menu.col-xs-8
          div.pull-left
            span pull-left
          div.pull-right
            span pull-right
    
include ../base/footer
