include ../base/header

  block content
    div.fluid-container
      div.row#navbar
        div#logo.col-xs-3
          a(href='/') USI Social Wall
        div#menu.col-xs-9
          div.pull-left
            span ciaoooooo
          div.pull-right
            span assassinoooo
        
include ../base/footer
