include ../base/header

  block content
    div.fluid-container#top-menu
      div.row
        div.col-xs-8.pull-left.list-inline
          img#logo-menu(src="/img/logo.png")
          span.text-left Usi Social Wall App
        div.col-xs-4.pull-right
          p.text-right here goes the date
    div.fluid-container
      div#sidebar
      div.container
        div.row
include ../base/footer
