include ../base/header
  script.
    var pageLoader = function() {
        var social = window.event.target.className + '/';
        var tag = document.getElementById('hashtag').value;
        window.location = social + tag;
    }
  block content
<<<<<<< HEAD

    | Write the search parameter and click the Social platform you want to search
    br
    input(type='text', id='hashtag')
    br
    button(class='twitter', onclick="pageLoader()") Twitter
    br
    button(class='facebook', onclick="pageLoader()") Facebook


-//"location.href='/twitter/';"
=======
    div.fluid-container
      div.row#navbar
        div#logo.col-xs-3
          a(href='/') USI Social Wall
        div#menu.col-xs-9
          div.pull-left
            span ciaoooooo
          div.pull-right
            span assassinoooo
        
include ../base/footer
>>>>>>> fraccaroli
