include ../base/header

  block content

    | Insert the hashtag you want to search on twitter
    br
    input(type='text', name='hashtag')
    br
    button(type='button', onclick='history.go(0)') Search
