include ../base/header

  block content

    | You clicked on Youtube
    br
    input(type='text', name='hashtag')
    br
    button(type='button', onclick='history.go(0)') Search

include ../base/footer
