#top-menu
  background-color black;

  #logo-menu
    max-width 50px
    max-height 50px
    padding 6px 6px

  span
    color: white
    font-family 'Open Sans'
    font-weight 400
    font-size 15px
    display inline-block
    vertical-align middle
    line-height normal

#sidebar
  height 500px
  width 100px
  background-color red
