block js
  script(type='text/javascript', src='components/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='components/foundation-sites/dist/foundation.min.js')
  script(type='text/javascript', src='components/Chart.js/Chart.min.js')
  script(type='text/javascript', src='js/script.js')
