#top-menu {
  background-color: #000;
}
#top-menu #logo-menu {
  max-width: 50px;
  max-height: 50px;
  padding: 6px 6px;
}
#top-menu span {
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#sidebar {
  height: 500px;
  width: 100px;
  background-color: #f00;
}
